.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 50px;
    background-color: #084749;
    color: #ffff;
    font-size: 16px;
}

/* src/components/Navbar.css */
.navbar {
    color: white;
    padding: 10px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #92a2a3;
}